@forward "./reset";

// *** List Delays ***
$delays: 0.2s, 0.4s, 0.6s, 0.8s, 1s, 1.2s, 1.4s, 1.6s;

// *** Main Styles ***
body {
	width: 100%;
	height: 100vh;

	color: #f00;
	background-color: #433d3d;

	font: {
		family: "Roboto", serif;
		size: 10rem;
		weight: 700;
	}

	text-transform: uppercase;
}

.word {
	display: flex;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__letter {
		letter-spacing: 2rem;

		animation: veronika 4s linear infinite;
	}
}

@keyframes veronika {
	0% {
		transform: translateX(-5rem);
		letter-spacing: 2rem;
		opacity: 0;
		color: #f00;
	}

	10% {
		opacity: 1;
	}

	50% {
		opacity: 1;
		letter-spacing: -1.5rem;
	}

	100% {
		transform: translateX(5rem);
		letter-spacing: 2rem;
		opacity: 0;
		color: #00f;
	}
}

// *** Loop For ***

@for $i from 1 through length($delays) {
	$delay: nth(
		$list: $delays,
		$n: $i,
	);

	.word__letter:nth-child(#{$i}) {
		animation-delay: $delay;
	}
}
